*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;

}
.banner{
	width: 100%;
	height: 100vh;
	background-image:linear-gradient(rgba(0, 0, 0, 0.70),rgba(0, 0, 0, 0.75)),url("home.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.navbar{
	font-size: 17px;
	color: white;
	width: 85%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navbar a{
	color: white;
	text-decoration: none;
}
.navbar li{
	list-style-type: none;
}
.logo{
	font-size: 34px;
	font-weight: 700;
	margin-right:60px;
}
.navbar ul li{
	display: inline-block;
	margin: 0 20px;
	position: relative;
	text-decoration: none;
}
.navbar ul li a{
	text-transform: uppercase;
}
.navbar ul li a:hover{
	color: white;
}
.navbar ul li::after{
	content: '';
	height: 3px;
	width:0;
	position: absolute;
	background-color: #009688;
	left: 0;
	bottom:0px;
	transition: 0.5s;
}
.navbar ul li:hover::after{
	width: 100%;
}
.content{
	color: white;
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
}
.content h1{
	font-size: 70px;
	margin-top: 80px;
	font-weight: bold;
}
.content p{
	font-size: 15px;
	margin-top: 80px;
}
.loop{
    color: white;
    margin-left:330px;
	font-size: 70px;
	margin-top: 80px;
  white-space: nowrap;
  overflow: hidden;    
  animation: animated-text 5s linear 1s 1 normal both,
             animated-cursor 300ms linear infinite;
}
@keyframes animated-text{
  from{width: 0;}
  to{width:637px;}
}

.content p{
	font-weight: 100;
	line-height: 25px;
	margin: 20px auto;
}
button{
	width: 220px;
	padding: 15px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 27px;
	font-weight: bold;
	border:2px solid #009688;
	background: transparent;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	text-transform: uppercase;
	color: white;
}
span{
	border-radius: 27px;
	background: #009688;
	color: white;
	height: 100%;
	width:0;
	position: absolute;
	left:0;
	bottom: 0;
	z-index: -1;
	transition: 0.7s;

}
button:hover span{
	width: 100%;
	border-radius: 27px;
}
button:hover{
	border: none;
}
.furniter{
	width: 100%;
	height: 750px;
	margin-top: 15px;
}
.hed{
	width: 100%;
	height:80px;
	margin-top: 10px;
	overflow: hidden;
}
.hed h1{
	padding: 15px 20px;
}
.furimg{
	width: 100%;
	height: 650px;
	margin-top:10px;
	overflow: hidden;
}
.photo{
	border: 4px solid black;
	width: 30%;
	height: 250px;
	display:inline-block;
	margin: 25px 17px;
	overflow: hidden;
}
.zoom:hover{
	opacity: 0.5;
    transform: scale(1.3);	
	transition-duration:1s;
	cursor: pointer;
}

.title{
	width: 30%;
	height: 25px;
	margin-left: 16px;
	margin-top:-330px;
	text-align: center;
	font-size:20px;
	overflow: hidden;
}
.title1{
	width: 30%;
	height: 25px;
	margin-left: 443px;
	margin-top:-25px;
	text-align: center;
	font-size:20px;
}
.title2{
	width: 30%;
	height: 25px;
	margin-left:872px;
	margin-top:-25px;
	text-align: center;
	font-size:20px;
}
.title3{
	width: 30%;
	height: 25px;
	margin-left: 16px;
	margin-top:278px;
	text-align: center;
	font-size:20px;
}
.title4{
	width: 30%;
	height: 25px;
	margin-left: 443px;
	margin-top:-25px;
	text-align: center;
	font-size:20px;
}
.title5{
	width: 30%;
	height: 25px;
	margin-left:873px;
	margin-top:-25px;
	text-align: center;
	font-size:20px;
}
.drawing{
	border: 1px solid black;
	width: 100%;
	height: 150vh;
	background-image:linear-gradient(rgba(0, 0, 0, 0.70),rgba(0, 0, 0, 0.75)),url("pexels-vecislavas-popa-1571460.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	overflow: hidden;
}
.content1{
	color: white;
	width: 100%;
	position: absolute;
	top: 240%;
	margin: 20px;
	transform: translateY(-50%);
	
}
.content1 h1{
	font-size: 70px;
	margin-top:220px;
}
.secimg{
	border: 1px solid black;
	position: absolute;
	margin-top:80px;
	width: 41%;
	height: 290px;
	margin-left:108px;
	cursor: pointer;
	overflow: hidden;
}
.secimg1{
	border: 1px solid black;
	margin-top:90px;
	width: 41%;
	height: 290px;
	margin-left: 642px;
	cursor: pointer;
	overflow: hidden;
}
.secimg2{
	border: 1px solid black;
	position: absolute;
	width: 41%;
	height: 290px;
	margin-left:108px;
	cursor: pointer;
	overflow: hidden;
}
.secimg3{
	border: 1px solid black;
	position: absolute;
	width: 41%;
	height: 290px;
	margin-left:642px;
	cursor: pointer;
	overflow: hidden;
}
.zoom2:hover{
    transform: scale(1.3);	
	transition-duration:2s;
}
.new{
	width: 100%;
	height:100vh;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	overflow: hidden;
	background-image:linear-gradient(rgba(0, 0, 0, 0.0),rgba(0, 0, 0, 0.0)),url("DESKTOP-SHOP_THE_LOOK-RHYTHM.jpg");
}
.new1{
	width: 100%;
	height:100vh;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	overflow: hidden;
	background-image:linear-gradient(rgba(0, 0, 0, 0.0),rgba(0, 0, 0, 0.0)),url("DESKTOP-SHOP_THE_LOOK-MAJESTA.jpg");
}
.new2{
	width: 100%;
	height:100vh;
	background-size: cover;
	background-position: center;
	overflow: hidden;
	background-image:linear-gradient(rgba(0, 0, 0, 0.0),rgba(0, 0, 0, 0.0)),url("DESKTOP-SHOP_THE_LOOK-CUBICON.jpg");
}
.bed{
	width: 100%;
	height: 380vh;
	background-image:linear-gradient(rgba(0, 0, 0, 0.70),rgba(0, 0, 0, 0.75)),url("francesca-tosolini-hCU4fimRW-c-unsplash.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	overflow: hidden;
	border-bottom-left-radius:600px;
}
.hebed{
	color: white;
	font-size:40px;
}
.essen{
	position: absolute;
	width: 50%;
	height: 40px;
	margin-top: 20px;
	margin-left: 200px;
	text-align: center;
	color: white;
	font-size: 30px;
}
.bedimg{
	border: 8px double white;
	position: absolute;
	width: 450px;
	height: 300px;
	margin-top:100px;
	margin-left:40px;
	cursor: pointer;
	overflow: hidden;
}
.bedimgwr{
	position: absolute;
	width: 750px;
	height: 200px;
	margin-top:125px;
	margin-left:520px;
	text-align: center;
	color: white;
	font-size:20px;
	cursor: pointer;
	border-bottom: 5px solid white;
	border-bottom-right-radius:120px;
}
.bedimgwr1{
	position: absolute;
	width: 750px;
	height: 200px;
	margin-top:470px;
	margin-left:40px;
	text-align: center;
	color: white;
	font-size:20px;
	cursor: pointer;
	border-bottom:5px solid white;
	border-bottom-left-radius:120px;
}
.bedimg1{
	border: 8px double white;
	position: absolute;
	width: 450px;
	height: 300px;
	margin-top: 400px;
	margin-left:830px;
	cursor: pointer;
	overflow: hidden;
}
.bedimg2{
	border: 8px double white;
	position: absolute;
	width: 450px;
	height: 300px;
	margin-top: 750px;
	margin-left:40px;
	cursor: pointer;
	overflow: hidden;
}
.bedimgwr2{
	position: absolute;
	width: 750px;
	height: 200px;
	margin-top: 800px;
	margin-left:520px;
	text-align: center;
	color: white;
	font-size:20px;
	cursor: pointer;
	border-bottom:5px solid white;
	border-bottom-right-radius:120px;
}
.bedimgwr3{
	border-bottom: 5px solid white;
	border-bottom-left-radius:120px;
	position: absolute;
	width: 740px;
	height: 200px;
	margin-top:1150px;
	margin-left:40px;
	text-align: center;
	color: white;
	font-size:20px;
	cursor: pointer;
	overflow: hidden;
}
.bedimg3{
	border: 8px double white;
	position: absolute;
	width: 500px;
	height: 400px;
	margin-top: 1050px;
	margin-left:790px;
	cursor: pointer;
	overflow: hidden;
}
.imghov:hover{
    transform: scale(1.3);	
	transition-duration:1s;
}

.loop1{
	text-align: center;
	margin-top: 20px;
}

.joimg{
	border: 4px solid white;
	position: absolute;
	width: 400px;
	height: 350px;
	margin-top: 1650px;
	margin-left:20px;
	overflow:hidden;
	cursor: pointer;
}

.joimg1{
	border: 4px solid white;
	position: absolute;
	width: 400px;
	height: 350px;
	margin-top: 1650px;
	margin-left:450px ;
	overflow: hidden;
	cursor: pointer;
}

.joimg2{
	border: 4px solid white;
	position: absolute;
	width: 400px;
	height: 350px;
	margin-top: 1650px;
	margin-left:880px;
	overflow: hidden;
	cursor: pointer;
}
.joihov:hover{
    transform: scale(1.3);	
	transition-duration:2s;
}
.joint{
	width: 100%;
	height:130vh;
}
.create{
	margin-top:220px;
	width: 100%;
	height:100px;
	text-align: center;
}
.know{
	margin-left: 300px;
	margin-top: 1450px;
}
.more{
	border-radius: 10px;
	border: 1px solid orangered;
	width:180px;
	color: white;
	font-size: 15px;
	font-weight: bold;
	background-color:orangered;
}
.more:hover{
	background-color: purple;
}
.piece{
	width: 30%;
	height: 230px;
	margin-top:60px;
	margin-left: 10px;
}
.piecewr{
	width: 30%;
	height:30px;
	font-weight: bold;
	cursor: pointer;
}
.chest{
	width: 30%;
	height:230px;
	margin-left:430px;
	margin-top: -580px;
}
.chestwr{
	width: 30%;
	height:30px;
	margin-left:420px;
	font-weight: bold;
	cursor: pointer;
}
.locker{
	width: 30%;
	height:230px;
	margin-top: 60px;
	margin-left:430px;
	
}
.lockerwr{
	width: 30%;
	height:30px;
	margin-left:430px;
	font-weight: bold;
	cursor: pointer;
}
.dressing{
	width: 30%;
	height: 230px;
	margin-left:860px;
	margin-top: -580px;
}
.dressingwr{
	width: 30%;
	height:30px;
	margin-left:860px;
	font-weight: bold;
	cursor: pointer;
}
.asosri{
	width: 30%;
	height:230px;
	margin-top: 60px;
	margin-left:860px;
}
.asosriwr{
	width: 30%;
	height:30px;
	margin-left:860px;
	font-weight: bold;
	cursor: pointer;
}
.piecehov:hover{
	opacity: 0.5;
	cursor: pointer;
}
.kitchin{
	border: 1px solid black;
	width: 100%;
	height: 350vh;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-image:linear-gradient(rgba(0, 0, 0, 0.70),rgba(0, 0, 0, 0.75)),url("lotus-design-n-print-oCw5_evbWyI-unsplash.jpg");
}
.kitchinwrite{
	position: absolute;
	width: 99%;
	height:60px;
	margin-top: 25px;
	margin-left:10px;
	text-align: center;
	color: white;
	font-size: 50px;
}
.kitimg{
	width:49%;
	height: 400px;
	margin-top:120px;
	margin-left:15px;
	overflow: hidden;
}
.kitimg1{
	width:49%;
	height: 400px;
	margin-left:652px;
	overflow: hidden;
}
.kitchiwr{
	position: absolute;
	width: 600px;
	height: 130px;
	margin-left:680px;
	margin-top: -370px;
	font-weight: bold;
	cursor: pointer;
}
.mod{
	color: white;
}
.kitchisecond{
	position: absolute;
	width: 600px;
	height: 130px;
	margin-left:40px;
	margin-top: -370px;
	font-weight: bold;
	cursor: pointer;
}
.exp{
	border: 1px solid orangered;
	border-radius:15px;
	margin-top: 170px;
	margin-left: 160px;
	background-color:orangered;
	color: white;
	width:170px;
}
.exp:hover{
	background-color: orange;
}
.modular{
	width:100%;
	height: 70px;
	margin-top:70px;
	text-align: center;
	color: white;
	font-size:50px;
}
.modularbor{
	width: 98%;
	height: 1140px;
	margin-left: 10px;
	margin-top: 40px;
}
.modulardiv{
	width: 420px;
	height: 300px;
	display: inline-block;
	cursor: pointer;
	overflow: hidden;
}
.modulardiv1{
	
	width: 100%;
	height:70px;
	display: inline-block;
	cursor: pointer;
	margin-top:60px;
		text-align: center;
	color: white;
	font-size:50px;
}
.modulardivimg{
	width: 600px;
	height: 350px;
	display: inline-block;
	cursor: pointer;
	margin-top:60px;
	margin-left:30px;
}
.modulardivwri{
	width: 600px;
	height: 275px;
	display: inline-block;
	cursor: pointer;
	margin-top:3px;
	margin-left:30px;
	color: white;
	background-color: yellowgreen;
   border-bottom-right-radius:100px;
    border-bottom-left-radius:20px;
}
.contact{
	border: 1px solid black;
	width: 100%;
	height:170vh;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-image:linear-gradient(rgba(0, 0, 0, 0.70),rgba(0, 0, 0, 0.75)),url("firmbee-com-SpVHcbuKi6E-unsplash.jpg");
}
.contact p{
	color: white;
	text-align: center;
	font-size: 50px;
	margin-top:30px;
}
.map{
	width: 100%;
	height:800px;
	margin-top:70px;
}
.mapcode{
	border: 2px solid silver;
	width: 45%;
	height:550px;
	margin-top:20px;
	margin-left: 20px;
}
.form{
	width: 49%;
	height:600px;
	margin-top:-547px;
	margin-left:630px;
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.footer{
	border: 1pa solid black;
	width: 100%;
	height:400px;
	background-color:black;
}
.housedec{
	border: 1px solid black;
	width:50%;
	height: 60px;
	color: white;
}
.housedec h1{
	margin: 20px;
	font-size:40px;
}
.about{
	width:170px;
	height:300px;
	margin-left: 30px;
	margin-top:10px;
	color: white;
}
.about p{
	font-size:30px;
	margin-left: 23px;
	color: silver;
	font-weight: bold;
}
.about li{
	list-style-type: none;
	margin-left:20px;
	padding:6px;
}
.about li a{
	text-decoration: none;
	color: white;
}
.policy{
	width:170px;
	height:300px;
	margin-left:200px;
	margin-top: 50px;
	color: white;
	margin-top: -300px;
}
.policy p{
	font-size:30px;
	margin-left: 23px;
	color: silver;
	font-weight: bold;
}
.policy li{
	list-style-type: none;
	margin-left:20px;
	padding:6px;
}
.policy li a{
	text-decoration: none;
	color: white;
}
.help{
	width:150px;
	height:300px;
	margin-left:370px;
	margin-top: 50px;
	color: white;
	margin-top: -300px;
}
.help p{
	font-size:30px;
	margin-left: 23px;
	color: silver;
	font-weight: bold;
}
.help li{
	list-style-type: none;
	margin-left:20px;
	padding:6px;
}
.help li a{
	text-decoration: none;
	color: white;
}
.cont{
	width:210px;
	height:300px;
	margin-left:520px;
	margin-top: 50px;
	color: white;
	margin-top: -300px;
}
.cont p{
	font-size:30px;
	margin-left: 23px;
	color: silver;
	font-weight: bold;
}
.cont li{
	list-style-type: none;
	margin-left:20px;
	padding:6px;
}
.cont li a{
	text-decoration: none;
	color: white;
}
.contus{
	width:240px;
	height:300px;
	margin-left:750px;
	margin-top: 50px;
	color: white;
	margin-top: -300px;
}
.contus p{
	font-size:30px;
	margin-left: 23px;
	color: silver;
	font-weight: bold;
}
.contus li{
	list-style-type: none;
	margin-left:20px;
	padding:6px;
}
.contus li a{
	text-decoration: none;
	color: white;
}
.icon{
	width:30px;
	height: 30px;
	display: inline-block;
	margin: 5px;
	cursor: pointer;
}
.ingrad{
	border-radius: 20px;
}

.popular{
	position: absolute;
	width:280px;
	height:140px;
	margin-left:1010px;
	margin-top: -300px;
	color: white;
	word-spacing: 5px;
	cursor: pointer;
}
.popcat{
    font-size:30px;
	font-weight: bold;
	color:silver;
}
.livin{
	color: silver;
	font-size:20px;
}







